/* MAIN LAYOUT */
@media only screen and (min-width: 1000px) {
  /* BASICS */
  body {
    padding: 0;
    margin: 0;
    background-color: rgb(25, 25, 26);
    color: white;
    font-family: sans-serif;
  }

  .grid {
    display: grid;
    grid-template-columns: auto 1000px auto;
    grid-template-rows: auto;
  }

  .container {
    background-image: url(/public/img/hero-background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1500px;
  }

  /*________ NAVBAR CONTENT ________ */
  .navbar {
    border-bottom: solid rgba(231, 169, 35, 0.441);
    height: 75px;
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: rgba(0, 0, 0, 0.349);
    backdrop-filter: blur(5px);
  }

  .navbar-container {
    border-color: solid rgb(147, 147, 147);
    grid-column: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-link-section {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
  }

  .nav-item {
    padding-right: 16px;
  }

  .navbar-link {
    color: white;
    text-decoration: none;
  }

  .navbar-link:hover {
    text-decoration: underline;
  }

  .account-buttons {
    display: flex;
    gap: 10px;
  }

  .account-buttons-layout {
    height: 30px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .create-account {
    color: rgb(0, 0, 0);
    background-color: rgb(199, 153, 52);
    border-radius: 4px;
  }

  .create-account:hover {
    background-color: rgb(250, 218, 144);
  }

  .sign-in {
    border: 1px solid;
    border-radius: 4px;
    width: 100px;
  }

  .sign-in:hover {
    background-color: rgba(255, 255, 255, 0.21);
  }

  /*________ HERO CONTENT________*/
  .hero {
    grid-column: 1 / 4;
    grid-row: 2;
    height: 500px;
  }

  .hero-container {
    grid-column: 2;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
  }

  .hero-search {
    background-color: rgba(0, 0, 0, 0.349);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 75px;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .fa-magnifying-glass {
    color: rgb(199, 153, 52);
  }

  .search-input {
    font-size: medium;
    width: 700px;
    height: 25px;
    border-radius: 4px;
  }

  .enter {
    background-color: rgb(199, 153, 52);
    height: 30px;
    width: 175px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .hero-cards-layout:hover {
    border: 1px solid rgba(231, 169, 35, 0.441);
    box-sizing: border-box;
  }

  .card-icon {
    color: rgb(199, 153, 52);
  }

  .play {
    color: rgb(0, 111, 205);
  }

  .x {
    color: rgb(14, 122, 13);
  }

  .steam {
    color: #66c0f4;
  }

  .hero-cards-layout {
    background-color: rgba(0, 0, 0, 0.349);
    backdrop-filter: blur(5px);
    height: 100px;
    width: 225px;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*________ BODY CONTENT________*/
  .body {
    height: fit-content;
    padding-top: 20px;
  }

  /*________ ARTICLES ________*/
  .body-title {
    color: rgb(199, 153, 52);
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.555);
  }

  .articles {
    grid-column: 2;

    display: flex;
    flex-wrap: wrap;
  }

  .article-layout {
    margin: 5px;
    padding: 10px;
    height: 500px;
    width: 220px;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .article-image {
    border-radius: 4px;
    width: 100px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px rgba(199, 152, 52, 0.486) solid;
    box-shadow: 0px 0px 20px 3px rgb(0, 0, 0);
  }

  .text-tag {
    margin-right: 10px;
  }

  .article-text {
    display: flex;
    margin-bottom: 20px;
  }

  .more {
    width: 45%;
    height: 30px;
    background-color: rgb(199, 153, 52);
    color: rgb(25, 25, 26);
    border-radius: 2px;
    margin-bottom: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .more:hover {
    background-color: rgb(250, 218, 144);
  }

  #article1 {
    background-image: url(/public/img/god-of-war.jpg);
  }

  #article2 {
    background-image: url(/public/img/the-last-of-us.jpg);
    background-position: left;
  }

  #article3 {
    background-image: url(/public/img/hades.jpg);
  }

  #article4 {
    background-image: url(/public/img/death-stranding.jpg);
  }

  #article5 {
    background-image: url(/public/img/lies-of-p.jpg);
  }

  #article6 {
    background-image: url(/public/img/uncharted-3.jpg);
    background-position: top;
  }

  #article7 {
    background-image: url(/public/img/red-dead-redemption-2.jpg);
  }

  #article8 {
    background-image: url(/public/img/resident-evil-4.jpg);
  }

  .footer {
    height: 100px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.349);
    backdrop-filter: blur(5px);
  }
}

@media only screen and (max-width: 999px) and (min-width: 0px) {
  /* BASICS */
  body {
    padding: 0;
    margin: 0;
    background-color: rgb(25, 25, 26);
    color: white;
    font-family: sans-serif;
    font-size: small;
  }

  .grid {
    display: grid;
    grid-template-columns: 2% 96% 2%;
    grid-template-rows: auto;
  }

  .container {
    background-image: url(/public/img/hero-background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  /*________ NAVBAR CONTENT ________ */
  .navbar {
    border-bottom: solid rgba(231, 169, 35, 0.441);
    height: 75px;
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: rgba(0, 0, 0, 0.349);
    backdrop-filter: blur(5px);
  }

  .navbar-container {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-link-section {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    text-align: center;
  }

  .nav-item {
    padding-right: 2vw;
  }

  .navbar-link {
    color: white;
    text-decoration: none;
  }

  /*________ HERO CONTENT________*/
  .hero {
    height: 400px;
    grid-column: 1 / 4;
    grid-row: 2;
  }

  .hero-container {
    grid-column: 2;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
  }

  .hero-search {
    background-color: rgba(0, 0, 0, 0.349);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 45px;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .fa-magnifying-glass {
    color: rgb(199, 153, 52);
  }

  .search-input {
    font-size: medium;
    border-radius: 4px;
    width: 40vw;
  }

  .enter {
    background-color: rgb(199, 153, 52);
    height: 20px;
    width: 30vw;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .hero-cards-layout:hover {
    border: 1px solid rgba(231, 169, 35, 0.441);
    box-sizing: border-box;
  }

  .card-icon {
    color: rgb(199, 153, 52);
  }

  .play {
    color: rgb(0, 111, 205);
  }

  .x {
    color: rgb(14, 122, 13);
  }

  .steam {
    color: #66c0f4;
  }

  .hero-cards-layout {
    background-color: rgba(0, 0, 0, 0.349);
    backdrop-filter: blur(5px);
    height: 40px;
    width: 75%;
    border-radius: 4px;
    margin-bottom: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width: 999px) and (min-width: 425px) {
    .hero-cards {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .hero-cards-layout {
      background-color: rgba(0, 0, 0, 0.349);
      backdrop-filter: blur(5px);
      height: 40px;
      width: 310px;
      border-radius: 4px;
      margin-bottom: 5px;
      margin-right: 5px;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  /*________ BODY CONTENT________*/
  .body {
    height: fit-content;
    padding-top: 20px;
  }

  /*________ ARTICLES ________*/
  .body-title {
    color: rgb(199, 153, 52);
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.555);
  }

  .articles {
    grid-column: 2;

    display: flex;
    flex-wrap: wrap;
  }

  .article-layout {
    margin: auto;
    margin-bottom: 60px;
    height: 350px;
    width: 280px;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .article-image {
    border-radius: 4px;
    width: 100px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px rgba(199, 152, 52, 0.486) solid;
    box-shadow: 0px 0px 20px 3px rgb(0, 0, 0);
  }

  .text-tag {
    margin-right: 10px;
  }

  .article-text {
    display: flex;
  }

  .more {
    width: 30%;
    height: 25px;
    background-color: rgb(199, 153, 52);
    color: rgb(25, 25, 26);
    border-radius: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .more:hover {
    background-color: rgb(250, 218, 144);
  }

  #article1 {
    background-image: url(/public/img/god-of-war.jpg);
  }

  #article2 {
    background-image: url(/public/img/the-last-of-us.jpg);
    background-position: left;
  }

  #article3 {
    background-image: url(/public/img/hades.jpg);
  }

  #article4 {
    background-image: url(/public/img/death-stranding.jpg);
  }

  #article5 {
    background-image: url(/public/img/lies-of-p.jpg);
  }

  #article6 {
    background-image: url(/public/img/uncharted-3.jpg);
    background-position: top;
  }

  #article7 {
    background-image: url(/public/img/red-dead-redemption-2.jpg);
  }

  #article8 {
    background-image: url(/public/img/resident-evil-4.jpg);
  }

  .footer {
    height: 100px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.349);
    backdrop-filter: blur(5px);
  }
}
