body {
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white 5px;
  background-color: grey;
}

#navigation {
  grid-column: 1 / 5;
  grid-row: 1;
}

#logo {
  grid-column: 1;
  grid-row: 2 / 3;
}

#header_ad {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
}

#content {
  grid-column: 1 / 4;
  grid-row: 3 / 10;
}

#sidebar_ad {
  grid-column: 4;
  grid-row: 3;
}

#facebook_box {
  grid-column: 4;
  grid-row: 4;
}

#latest_blogs {
  grid-column: 4;
  grid-row: 5;
}

#secondary_links {
  grid-column: 4;
  grid-row: 6;
}

#game_links {
  grid-column: 4;
  grid-row: 7;
}

#contact_link {
  grid-column: 4;
  grid-row: 8;
}

#tutorials {
  grid-column: 4;
  grid-row: 9;
}

#footer {
  grid-column: 1 / 5;
  grid-row: 10;
}

figure {
  grid-row: 11;
  grid-column: 1 / 6;
  margin: 0;
}
